{% extends "layout.html" %}
{% block body %}

<h1>Página de autor</h1>

<h3><b>Nome:</b></h3>  <h5>Davide Lucchino</h5>
<h3><b>Número:</b></h3> <h5>nº8</h5> 
<h3><b>Turma:</b></h3> <h5>11ºI</h5> 
<h3><b>Modúlo:</b></h3> <h5>9952</h5> 
<h3><b>Tema do trabalho:</b></h3> <h5>Parque de estacionamento</h5> 
<h3><b>Referencia para o template:</b></h3> <h5><a href="https://codepen.io/areal_alien/pen/BaRpxdX" target="_blank">Template Sticky Responsive</a></h5> 

<h3 style="position: relative; left: 400px; bottom: 320px;"><b>Foto do autor:</b></h3> 

<img src="/static/imagens/ben10.jpg" style="width: 20%; position: relative; left: 500px; bottom: 300px;">

{% endblock %}