{% extends "layout.html" %}
{% block body %}

<h1>Apagar utilizador</h1>
<form action="/Utilizadores/apagar_confirmado" method="post">
    <input type="hidden" name="id" value="{{ utilizador['id'] }}">
    <div class="form-group row">
        <label class="form-label" for="nome">Nome: {{ utilizador['nome'] }}</label>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="email">Email: {{ utilizador['email'] }}</label>
    </div>
    <br>
    <input class="btn btn-lg btn-danger" type="submit" value="Apagar">
    <br>
    {{ mensagem }}
</form>
{% endblock %}