{% extends "layout.html" %}
{% block body %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<h1>Recuperação da palavra passe</h1>
<form action="/recuperar_password" method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <div class="form-group row">
        <label class="form-label" for="password">Palavra passe:</label>
        <input class="form-control" type="password" name="password" required>
    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    <input class="btn btn-lg btn-danger" type="submit" value="Guardar nova password">
    <br>
    {{ mensagem }}
</form>
{% endblock %}