{% extends "layout.html" %}
{% block body %}
<h1>Editar Parque</h1>
<form method="post" action="/parque/editar_comfirmado" enctype="multipart/form-data">
    <label for="input_nome">Nome:</label>
    <input type="text" value="{{registo ['nome']}}" name="input_nome" id="input_nome" required class="form-control">
    <input type="hidden" name="ID_parque" value="{{ registo['ID_parque']}}">


    <br>

    <label for="input_local">Localização:</label>
    <input type="text" value="{{registo ['Local']}}" name="input_local" id="input_local"  class="form-control">

    <br>

    <label for="select_state">Estado:</label>
    <select id="select_state" value="{{registo ['estado']}}" name="select_state" class="form-select">
        <option value="Aberto">Aberto</option>
        <option value="Fechado">Fechado</option>
        <option value="Manutenção">Manutenção</option>
    </select>
    <br>

    <label for="input_custo">Custo:</label>
    <input value="{{registo ['custo']}}" type="text" name="input_custo" id="input_custo" class="form-control">

    <input type="submit" value="Atualizar" class="btn btn-lg btn-danger"/>
    <a href="/parque/listar" class="btn btn-info">Voltar</a>


    {{ mensagem }}
</form>




{% endblock %}